.parent {
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 1.5fr) 0.25fr repeat(2, 1.5fr) 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 4; }
    .div2 { grid-area: 1 / 5 / 2 / 7; }